<!DOCTYPE html>
<html>
  <head>
    <title>Growler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://bootswatch.com/slate/bootstrap.min.css'/>
  </head>
  <body>
    <h1>Add new growl</h1>
    <form action='/new' method='post'>
      <input type='text' name='name'>
      <input type='submit' value="Submit Item!">
    </form>
  </body>
</html>
